/*--------------------------------------------------------------
# Components Icon
--------------------------------------------------------------*/
.ico {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-flex;
  &.ico-premium {
    overflow: visible;
    // background-color: $white;
    background-image: url("../img/icon/ico-premium.svg");
  }
  &.ico-gallery-premium {
    width: 38px;
    height: 38px;
    background-image: url("../img/icon/ico-gallery-premium.svg");
  }
}
.icon-favoritar {
  width: 32px;
  height: 32px;
  path {
    fill: transparent;
    stroke: #ef5da8;
    stroke-width: 2;
  }
}
.icon-profile {
  width: 27px;
  height: 27px;
}
